@font-face {
    font-family: 'preahvihear';
    src: url('../../../assets/fonts/Preahvihear/Preahvihear-Regular.ttf');
}

.about-me {
    min-height: 85vh;
    background-color: rgb(17,7,31);
    color: white;
    .about-me_intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        &> img {
            margin-top: 15%;
            height: 35vh;
            border-radius: 50px;
            transition: all 0.5s ease;
        }
        &> h1 {
            font-family: preahvihear;
            margin: 5% auto;
            font-size: 1.2rem;
            transition: all 0.5s ease;
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        &> h2 {
            text-align: center;
            font-family: preahvihear;
            font-size: 0.9rem;
            transition: all 0.5s ease;
        }
        .contact-content {
            margin: 10% 0;
            display: flex;
            justify-content: space-around;
            &> .linkedin, .github, .gmail {
                .link {
                    display: none;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    .cv {
        display: flex;
        flex-direction: column;
        align-items: center;
        &> h2 {
            text-align: center;
            font-family: preahvihear;
            font-size: 0.9rem;
            transition: all 0.5s ease;
        }
        &> h3 {
            text-align: center;
            font-size: 0.9rem;
            transition: all 0.5s ease;
        }
        &> a {
            text-decoration: none;
            font-size: 1.3rem;
            padding: 2%;
            margin: 5% 0;
            border-radius: 15px;
            background: rgb(43, 17, 77);
            color: white;
            transition: all 0.5s ease;
        }
    }
}

@media (min-width: 1025px) {
    .about-me {
        .about-me_intro {
            &> img {
                margin-top: 5%;
                height: 50vh;
            }
            &> h1 {
                font-size: 2rem;
            }
        }
        .contact {
            &> h2 {
                font-size: 1.5rem;
            }
            .contact-content {
                &> .linkedin, .github, .gmail {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .link {
                        margin-top: 3%;
                        display: block; 
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .cv {
            &> h2 {
                font-size: 2rem;
            }
            &> h3 {
                margin-bottom: 5%;
                font-size: 2.5rem;

            }
        }
    }
}